---
import { Separator } from "@/components/ui/separator";
import { MainViewer } from "@/components/Viewer";
import { db } from "@/db";
import { getPost } from "@/db/queries";
import Layout from "@/layouts/Layout.astro";

const { postId } = Astro.params;

if (!postId) {
  return Astro.redirect("/");
}

const post = await getPost.execute({ postId: postId as string });

if (!post) {
  return Astro.redirect("/404");
}
---

<Layout>
  <div
    class="w-full max-w-6xl flex flex-col items-center gap-8 md:gap-12 mx-auto px-4 py-8 md:py-12"
  >
    <header class="w-full mb-8 md:mb-12 text-center">
      <h1
        transition:name={`post-title-${post.id}`}
        class="text-3xl sm:text-4xl md:text-5xl font-bold text-slate-900 mb-3 md:mb-4"
      >
        {post.title}
      </h1>
      <div
        class="flex items-center justify-center gap-3 md:gap-4 text-xs sm:text-sm text-slate-700"
      >
        <span class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 md:h-5 md:w-5 mr-1.5 md:mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
            ></path>
          </svg>
          <span>
            {new Date().toLocaleDateString()}
          </span>
        </span>
      </div>
      <p
        class="mt-4 md:mt-6 text-base md:text-lg text-slate-600 font-light leading-relaxed max-w-2xl mx-auto px-2 sm:px-4"
      >
        {post.shortDescription}
      </p>
    </header>

    {
      post.image && (
        <div class="mb-8 md:mb-12 rounded-lg md:rounded-2xl w-[90%] sm:w-[80%] md:w-[70%] overflow-hidden shadow-lg md:shadow-xl">
          <img
            transition:name={`post-image-${post.id}`}
            src={post.image}
            alt={post.title}
            class="w-full h-[200px] sm:h-[300px] md:h-[400px] object-cover"
          />
        </div>
      )
    }
    <Separator />
    <div
      class="prose prose-sm sm:prose md:prose-lg max-w-none prose-slate px-2 sm:px-4"
    >
      <MainViewer client:only="react" postId={postId} />
    </div>
  </div>
</Layout>
